@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  text-decoration: none;
  list-style: none;
  transition: .2s linear;
  font-family: 'poppins';
  scroll-behavior: smooth;
  scroll-padding-top:4rem;
  margin: 0;
}

:root {
  --orange-clr: #e67e22;
  --black-clr: #130f40;
  --white-clr: #fff;
  --light-clr:#666;
  --light-bck:#eee;
  --border: .2rem solid #130f40;
  --border-white: .2rem solid #fff;
  --boxShadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--orange-clr);
  border-radius: 10px;
}


.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white-clr);
  box-shadow: var(--boxShadow);
  padding: 1em 0em;
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
}


.LogoNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4em;
  color: var(--black-clr);
  cursor: pointer;
}

.LogoNav:hover{
  color: var(--orange-clr);
}

.MenuBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.MenuItemLink{
  color: var(--black-clr);

}

.MenuItemLink:hover{
  color: var(--orange-clr);
}

.CarritoBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 1.2rem;
  color: var(--black-clr);
  cursor: pointer;
}

.CartIcon:hover{
  color: var(--orange-clr);
}

.UserIcon:hover{
  color: var(--orange-clr);
}

/* --------------ItemListContainer---------------- */

.hero{
  background-image: url(./assets/heroImage.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
}

.bienvenidaBox{
  display: flex;
  flex-direction: column;
  width: 500px;

}

.tituloBenvenida{
  font-size: 3rem;
  color: var(--white-clr);
  line-height: 1.5em;
  text-transform: capitalize;
}

.tituloAccent{
  color: var(--orange-clr);
}
/* ---------------------Boton generico-------------- */
.btn{
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0rem;
  cursor: pointer;
  background:none;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  width: fit-content;
  border: var(--border);
  color: var(--black-clr);
}

.btn:hover{
  background-color: var(--black-clr);
  color: var(--light-bck);
}

/* --------------------boton contador--------------------- */
.contenedorCompra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorContador{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.contador{
  padding: 5px 14px;
  border-radius: 30px;
  border: solid 1px var(--black-clr);
  background-color: var(--light-bck);
  color:var(--black-clr);
  font-size: 1.5em;
  margin: 1em;
}

.cantidadProducto{
  font-size: 1em;
}

.btnCarrito{
  margin-top: 1rem;
  padding: .8rem 2rem;
  border-radius: 5rem;
  border-top-left-radius: 0rem;
  cursor: pointer;
  background:none;
  font-size: .9rem;
  position: relative;
  overflow: hidden;
  width: fit-content;
  border: var(--border);
  color: var(--black-clr);
}

.btnCarrito:hover{
  background-color: var(--black-clr);
  color: var(--light-bck);
}


/* ---------------------------seccion----------------------- */
.tituloSeccion{
  font-size: 2rem;
  color: var(--black-clr);
  line-height: 1.5em;
  text-transform: capitalize;
  text-align: center;
  margin: 1em 1em;

}

/* ---------------------------Item--------------------------------- */

.contenedorProductos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

.contenedorProducto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.imgProductoBox{
  overflow: hidden;
}

.imgProducto{
  height: 450px;
  width: 350px;
  border-radius: 2px;
  transition: 1s;
}

.imgProducto:hover{
  transform: scale(1.1);
}

.nombreProducto{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black-clr);
  text-align: center;
  width: 300px;
}

.precioProducto{
  font-size: 1.3rem;
  color: var(--orange-clr);
  text-align: center;
}

/* -------------------------Item category-------------------- */

.itemCategoryBox{
  margin-left: 10%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
}

.itemCategory{
    display: inline-block;
    margin: 1em 1em;
    padding: .4rem 1.4rem;
    border-radius: 5rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
    background:none;
    font-size: 1rem;
    width: fit-content;
    border: var(--border);
    color: var(--black-clr);
}

.itemCategory:hover{
  background-color: var(--black-clr);
  color: var(--light-bck);
}

/* ---------------Footer---------------- */

.footer{
  background-color: var(--black-clr);
  padding: 2em;
  margin-top: 2em;
}

.bottomWave{
  background-image: url(../src/assets/wavesNegative.svg);
}

.redesFooterBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redesLink{
  margin: 1em 1em;
    padding: .4rem 1.4rem;
    border-radius: 5rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
    background:none;
    font-size: 1rem;
    width: fit-content;
    border: var(--border-white);
    color: var(--white-clr);
}

.redesLink:hover{
  background-color: var(--white-clr);
  color: var(--black-clr);
}